@font-face {
    font-family: "titlefont";
    font-weight: 400;
    src: url("./../src/sass/assets/fonts/CenturyGothic.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "titlefont";
    font-weight: 700;
    src: url("./../src/sass/assets/fonts/gothicb.ttf") format("truetype");
    font-display: swap;
}

html {scroll-behavior: smooth;}


body {
    font-family: "titlefont", sans-serif;
    font-size: 16px;
    color: $dark;
    background: $light;
}

h1,
h2,
h3 {
    font-weight: 700;
    color: $primary;
}
