@font-face {
    font-family: "titlefont";
    font-weight: 400;
    src: url("./../src/sass/assets/fonts/CenturyGothic.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "titlefont";
    font-weight: 700;
    src: url("./../src/sass/assets/fonts/gothicb.ttf") format("truetype");
    font-display: swap;
}

body {
    font-family: "titlefont", sans-serif;
    font-size: 16px;
    color: $dark;
    background: $light;

    @include for-md {
        font-size: 18px;
    }
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1,
h2 {
    font-size: 32px;

    @include for-md {
        font-size: 48px;
    }
}

h3 {
    font-size: 28px;
}
