#wrapper-footer {
    background: $primary;
    color: $light;
    text-align: center;

    a {
        color: $light;
        font-weight: 700;
        font-family: "titlefont", sans-serif;
        text-decoration: none;
    }
}
