.gform_wrapper .top_label .gfield_label,
.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
    // display: none !important;
}
/*** FIELD STYLING ***/

input[type=text],
input[type=tel],
input[type=email],
textarea {
 border: none;
 border-radius: 5px;
 padding: 15px !important;
 &:active,
 &:focus {
    .gform_wrapper .top_label .gfield_label,
    .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
    display: block !important;
    }
 }
}


.gform_button {
    @extend .btn;
    @extend .btn-secondary;
}

.gform_confirmation_message {

    background: $light;
    color: $primary;
    padding: 2em;
    margin: 2em;
    border-radius: 25px;
}


