.hero-section {
    background-image: url("./../inc/images/hero-image.webp");
    background-color: $primary;
    background-position: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light;

    margin-top: 66px;

    @include for-md {
        height: 390px;
    }

    @include for-lg {
        height: 450px;
    }

    .overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(152, 100, 166, 0.8);
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        text-align: center;
        .button {
            margin: 10px;
            border-radius: 10px;
            width: fit-content;
        }
        .btn.btn-secondary.call-btn {
            margin-bottom: 10px;
        }
    }
}
