nav {
    font-weight: 700;
    font-size: 18px;

    img {
        max-height: 40px;
        width: auto;
    }

    .current_page_item {
        .nav-link {
            color: $secondary;
        }
    }
}

.navbar-toggler {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &:focus {
        box-shadow: 0 0 0 1px;
    }
}

.navbar-toggler-bar {
    height: 5px;
    width: 50px;
    border-radius: 5px;
    background-color: red;
    display: inline-block;
    margin-block: 5px;
    background: $primary;
}
